@font-face{
    font-family: 'IRANSans';
    src: url('../fonts/IRANSans.ttf');
}
@font-face{
    font-family: 'IRANSans Bold';
    src: url('../fonts/IRANSans_Bold.ttf');
}
@font-face{
    font-family: 'IRANSans Light';
    src: url('../fonts/IRANSans_Light.ttf');
}
@font-face{
    font-family: 'IRANSans medium';
    src: url('../fonts/IRANSans_Medium.ttf');
}
@font-face{
    font-family: 'IRANSans ultraRight';
    src: url('../fonts/IRANSans_UltraLight.ttf');
}